.p-t-0 {padding-top: 0;}
.p-t-0_25 {padding-top: .25em;}
.p-t-0_5 {padding-top: .5em;}
.p-t-0_75 {padding-top: .75em;}

.p-t-1 {padding-top: 1em;}
.p-t-1_25 {padding-top: 1.25em;}
.p-t-1_5 {padding-top: 1.5em;}
.p-t-1_75 {padding-top: 1.75em;}

.p-t-2 {padding-top: 2em;}
.p-t-2_25 {padding-top: 2.25em;}
.p-t-2_5 {padding-top: 2.5em;}
.p-t-2_75 {padding-top: 2.75em;}

.p-t-3 {padding-top: 3em;}
.p-t-3_25 {padding-top: 3.25em;}
.p-t-3_5 {padding-top: 3.5em;}
.p-t-3_75 {padding-top: 3.75em;}

.p-t-4 {padding-top: 4em;}
.p-t-4_25 {padding-top: 4.25em;}
.p-t-4_5 {padding-top: 4.5em;}
.p-t-4_75 {padding-top: 4.75em;}

.p-t-5 {padding-top: 5em;}
.p-t-5_25 {padding-top: 5.25em;}
.p-t-5_5 {padding-top: 5.5em;}
.p-t-5_75 {padding-top: 5.75em;}

.p-t-6 {padding-top: 6em;}
.p-t-6_25 {padding-top: 6.25em;}
.p-t-6_5 {padding-top: 6.5em;}
.p-t-6_75 {padding-top: 6.75em;}

.p-t-7 {padding-top: 7em;}
.p-t-7_25 {padding-top: 7.25em;}
.p-t-7_5 {padding-top: 7.5em;}
.p-t-7_75 {padding-top: 7.75em;}

.p-t-8 {padding-top: 8em;}
.p-t-8_25 {padding-top: 8.25em;}
.p-t-8_5 {padding-top: 8.5em;}
.p-t-8_75 {padding-top: 8.75em;}

.p-t-9 {padding-top: 9em;}
.p-t-9_25 {padding-top: 9.25em;}
.p-t-9_5 {padding-top: 9.5em;}
.p-t-9_75 {padding-top: 9.75em;}
.p-t-10 {padding-top: 10em;}

.p-b-0 {padding-bottom: 0;}
.p-b-0_25 {padding-bottom: .25em;}
.p-b-0_5 {padding-bottom: .5em;}
.p-b-0_75 {padding-bottom: .75em;}

.p-b-1 {padding-bottom: 1em;}
.p-b-1_25 {padding-bottom: 1.25em;}
.p-b-1_5 {padding-bottom: 1.5em;}
.p-b-1_75 {padding-bottom: 1.75em;}

.p-b-2 {padding-bottom: 1em;}
.p-b-2_25 {padding-bottom: 2.25em;}
.p-b-2_5 {padding-bottom: 2.5em;}
.p-b-2_75 {padding-bottom: 2.75em;}

.p-b-3 {padding-bottom: 3em;}
.p-b-3_25 {padding-bottom: 3.25em;}
.p-b-3_5 {padding-bottom: 3.5em;}
.p-b-3_75 {padding-bottom: 3.75em;}

.p-b-4 {padding-bottom: 4em;}
.p-b-4_25 {padding-bottom: 4.25em;}
.p-b-4_5 {padding-bottom: 4.5em;}
.p-b-4_75 {padding-bottom: 4.75em;}

.p-b-5 {padding-bottom: 5em;}
.p-b-5_25 {padding-bottom: 5.25em;}
.p-b-5_5 {padding-bottom: 5.5em;}
.p-b-5_75 {padding-bottom: 5.75em;}

.p-b-6 {padding-bottom: 6em;}
.p-b-6_25 {padding-bottom: 6.25em;}
.p-b-6_5 {padding-bottom: 6.5em;}
.p-b-6_75 {padding-bottom: 6.75em;}

.p-b-7 {padding-bottom: 7em;}
.p-b-7_25 {padding-bottom: 7.25em;}
.p-b-7_5 {padding-bottom: 7.5em;}
.p-b-7_75 {padding-bottom: 7.75em;}

.p-b-8 {padding-bottom: 8em;}
.p-b-8_25 {padding-bottom: 8.25em;}
.p-b-8_5 {padding-bottom: 8.5em;}
.p-b-8_75 {padding-bottom: 8.75em;}

.p-b-9 {padding-bottom: 9em;}
.p-b-9_25 {padding-bottom: 9.25em;}
.p-b-9_5 {padding-bottom: 9.5em;}
.p-b-9_75 {padding-bottom: 9.75em;}

.p-b-10 {padding-bottom: 10em;}

.p-l-0 {padding-left: 0;}
.p-l-0_25 {padding-left: .25em;}
.p-l-0_5 {padding-left: .5em;}
.p-l-0_75 {padding-left: .75em;}

.p-l-1 {padding-left: 1em;}
.p-l-1_25 {padding-left: 1.25em;}
.p-l-1_5 {padding-left: 1.5em;}
.p-l-1_75 {padding-left: 1.75em;}

.p-l-2 {padding-left: 1em;}
.p-l-2_25 {padding-left: 2.25em;}
.p-l-2_5 {padding-left: 2.5em;}
.p-l-2_75 {padding-left: 2.75em;}

.p-l-3 {padding-left: 3em;}
.p-l-3_25 {padding-left: 3.25em;}
.p-l-3_5 {padding-left: 3.5em;}
.p-l-3_75 {padding-left: 3.75em;}

.p-l-4 {padding-left: 4em;}
.p-l-4_25 {padding-left: 4.25em;}
.p-l-4_5 {padding-left: 4.5em;}
.p-l-4_75 {padding-left: 4.75em;}

.p-l-5 {padding-left: 5em;}
.p-l-5_25 {padding-left: 5.25em;}
.p-l-5_5 {padding-left: 5.5em;}
.p-l-5_75 {padding-left: 5.75em;}

.p-l-6 {padding-left: 6em;}
.p-l-6_25 {padding-left: 6.25em;}
.p-l-6_5 {padding-left: 6.5em;}
.p-l-6_75 {padding-left: 6.75em;}

.p-l-7 {padding-left: 7em;}
.p-l-7_25 {padding-left: 7.25em;}
.p-l-7_5 {padding-left: 7.5em;}
.p-l-7_75 {padding-left: 7.75em;}

.p-l-8 {padding-left: 8em;}
.p-l-8_25 {padding-left: 8.25em;}
.p-l-8_5 {padding-left: 8.5em;}
.p-l-8_75 {padding-left: 8.75em;}

.p-l-9 {padding-left: 9em;}
.p-l-9_25 {padding-left: 9.25em;}
.p-l-9_5 {padding-left: 9.5em;}
.p-l-9_75 {padding-left: 9.75em;}

.p-l-10 {padding-left: 10em;}

.p-r-0 {padding-right: 0;}
.p-r-0_25 {padding-right: .25em;}
.p-r-0_5 {padding-right: .5em;}
.p-r-0_75 {padding-right: .75em;}

.p-r-1 {padding-right: 1em;}
.p-r-1_25 {padding-right: 1.25em;}
.p-r-1_5 {padding-right: 1.5em;}
.p-r-1_75 {padding-right: 1.75em;}

.p-r-2 {padding-right: 1em;}
.p-r-2_25 {padding-right: 2.25em;}
.p-r-2_5 {padding-right: 2.5em;}
.p-r-2_75 {padding-right: 2.75em;}

.p-r-3 {padding-right: 3em;}
.p-r-3_25 {padding-right: 3.25em;}
.p-r-3_5 {padding-right: 3.5em;}
.p-r-3_75 {padding-right: 3.75em;}

.p-r-4 {padding-right: 4em;}
.p-r-4_25 {padding-right: 4.25em;}
.p-r-4_5 {padding-right: 4.5em;}
.p-r-4_75 {padding-right: 4.75em;}

.p-r-5 {padding-right: 5em;}
.p-r-5_25 {padding-right: 5.25em;}
.p-r-5_5 {padding-right: 5.5em;}
.p-r-5_75 {padding-right: 5.75em;}

.p-r-6 {padding-right: 6em;}
.p-r-6_25 {padding-right: 6.25em;}
.p-r-6_5 {padding-right: 6.5em;}
.p-r-6_75 {padding-right: 6.75em;}

.p-r-7 {padding-right: 7em;}
.p-r-7_25 {padding-right: 7.25em;}
.p-r-7_5 {padding-right: 7.5em;}
.p-r-7_75 {padding-right: 7.75em;}

.p-r-8 {padding-right: 8em;}
.p-r-8_25 {padding-right: 8.25em;}
.p-r-8_5 {padding-right: 8.5em;}
.p-r-8_75 {padding-right: 8.75em;}

.p-r-9 {padding-right: 9em;}
.p-r-9_25 {padding-right: 9.25em;}
.p-r-9_5 {padding-right: 9.5em;}
.p-r-9_75 {padding-right: 9.75em;}

.p-r-10 {padding-right: 10em;}

.p-v-0 {padding-top: 0; padding-bottom: 0;}
.p-v-0_25 {padding-top: .25em; padding-bottom: .25em;}
.p-v-0_5 {padding-top: .5em; padding-bottom: .5em;}
.p-v-0_75 {padding-top: .75em; padding-bottom: .75em;}

.p-v-1 {padding-top: 1em; padding-bottom: 1em;}
.p-v-1_25 {padding-top: 1.25em; padding-bottom: 1.25em;}
.p-v-1_5 {padding-top: 1.5em; padding-bottom: 1.5em;}
.p-v-1_75 {padding-top: 1.75em; padding-bottom: 1.75em;}

.p-v-2 {padding-top: 2em; padding-bottom: 2em;}
.p-v-2_25 {padding-top: 2.25em; padding-bottom: 2.25em;}
.p-v-2_5 {padding-top: 2.5em; padding-bottom: 2.5em;}
.p-v-2_75 {padding-top: 2.75em; padding-bottom: 2.75em;}

.p-v-3 {padding-top: 3em; padding-bottom: 3em;}
.p-v-3_25 {padding-top: 3.25em; padding-bottom: 3.25em;}
.p-v-3_5 {padding-top: 3.5em; padding-bottom: 3.5em;}
.p-v-3_75 {padding-top: 3.75em; padding-bottom: 3.75em;}

.p-v-4 {padding-top: 4em; padding-bottom: 4em;}
.p-v-4_25 {padding-top: 4.25em; padding-bottom: 4.25em;}
.p-v-4_5 {padding-top: 4.5em; padding-bottom: 4.5em;}
.p-v-4_75 {padding-top: 4.75em; padding-bottom: 4.75em;}

.p-v-5 {padding-top: 5em; padding-bottom: 5em;}
.p-v-5_25 {padding-top: 5.25em; padding-bottom: 5.25em;}
.p-v-5_5 {padding-top: 5.5em; padding-bottom: 5.5em;}
.p-v-5_75 {padding-top: 5.75em; padding-bottom: 5.75em;}

.p-v-6 {padding-top: 6em; padding-bottom: 6em;}
.p-v-6_25 {padding-top: 6.25em; padding-bottom: 6.25em;}
.p-v-6_5 {padding-top: 6.5em; padding-bottom: 6.5em;}
.p-v-6_75 {padding-top: 6.75em; padding-bottom: 6.75em;}

.p-v-7 {padding-top: 7em; padding-bottom: 7em;}
.p-v-7_25 {padding-top: 7.25em; padding-bottom: 7.25em;}
.p-v-7_5 {padding-top: 7.5em; padding-bottom: 7.5em;}
.p-v-7_75 {padding-top: 7.75em; padding-bottom: 7.75em;}

.p-v-8 {padding-top: 8em; padding-bottom: 8em;}
.p-v-8_25 {padding-top: 8.25em; padding-bottom: 8.25em;}
.p-v-8_5 {padding-top: 8.5em; padding-bottom: 8.5em;}
.p-v-8_75 {padding-top: 8.75em; padding-bottom: 8.75em;}

.p-v-9 {padding-top: 9em; padding-bottom: 9em;}
.p-v-9_25 {padding-top: 9.25em; padding-bottom: 9.25em;}
.p-v-9_5 {padding-top: 9.5em; padding-bottom: 9.5em;}
.p-v-9_75 {padding-top: 9.75em; padding-bottom: 9.75em;}
.p-v-10 {padding-top: 10em; padding-bottom: 10em;}

.p-h-0 {padding-left: 0; padding-right: 0;}
.p-h-0_25 {padding-left: .25em; padding-right: .25em;}
.p-h-0_5 {padding-left: .5em; padding-right: .5em;}
.p-h-0_75 {padding-left: .75em; padding-right: .75em;}

.p-h-1 {padding-left: 1em; padding-right: 1em;}
.p-h-1_25 {padding-left: 1.25em; padding-right: 1.25em;}
.p-h-1_5 {padding-left: 1.5em; padding-right: 1.5em;}
.p-h-1_75 {padding-left: 1.75em; padding-right: 1.75em;}

.p-h-2 {padding-left: 1em; padding-right: 1em;}
.p-h-2_25 {padding-left: 2.25em; padding-right: 2.25em;}
.p-h-2_5 {padding-left: 2.5em; padding-right: 2.5em;}
.p-h-2_75 {padding-left: 2.75em; padding-right: 2.75em;}

.p-h-3 {padding-left: 3em; padding-right: 3em;}
.p-h-3_25 {padding-left: 3.25em; padding-right: 3.25em;}
.p-h-3_5 {padding-left: 3.5em; padding-right: 3.5em;}
.p-h-3_75 {padding-left: 3.75em; padding-right: 3.75em;}

.p-h-4 {padding-left: 4em; padding-right: 4em;}
.p-h-4_25 {padding-left: 4.25em; padding-right: 4.25em;}
.p-h-4_5 {padding-left: 4.5em; padding-right: 4.5em;}
.p-h-4_75 {padding-left: 4.75em; padding-right: 4.75em;}

.p-h-5 {padding-left: 5em; padding-right: 5em;}
.p-h-5_25 {padding-left: 5.25em; padding-right: 5.25em;}
.p-h-5_5 {padding-left: 5.5em; padding-right: 5.5em;}
.p-h-5_75 {padding-left: 5.75em; padding-right: 5.75em;}

.p-h-6 {padding-left: 6em; padding-right: 6em;}
.p-h-6_25 {padding-left: 6.25em; padding-right: 6.25em;}
.p-h-6_5 {padding-left: 6.5em; padding-right: 6.5em;}
.p-h-6_75 {padding-left: 6.75em; padding-right: 6.75em;}

.p-h-7 {padding-left: 7em; padding-right: 7em;}
.p-h-7_25 {padding-left: 7.25em; padding-right: 7.25em;}
.p-h-7_5 {padding-left: 7.5em; padding-right: 7.5em;}
.p-h-7_75 {padding-left: 7.75em; padding-right: 7.75em;}

.p-h-8 {padding-left: 8em; padding-right: 8em;}
.p-h-8_25 {padding-left: 8.25em; padding-right: 8.25em;}
.p-h-8_5 {padding-left: 8.5em; padding-right: 8.5em;}
.p-h-8_75 {padding-left: 8.75em; padding-right: 8.75em;}

.p-h-9 {padding-left: 9em; padding-right: 9em;}
.p-h-9_25 {padding-left: 9.25em; padding-right: 9.25em;}
.p-h-9_5 {padding-left: 9.5em; padding-right: 9.5em;}
.p-h-9_75 {padding-left: 9.75em; padding-right: 9.75em;}
.p-h-10 {padding-left: 10em; padding-right: 10em;}

.m-l-a {margin-left: auto;}
.m-r-a {margin-right: auto;}
.m-h-a {margin-left: auto; margin-right: auto;}
.m-t-a {margin-top: auto;}

.m-b-a {margin-bottom: auto;}
.m-v-a {margin-top: auto; margin-bottom: auto;}
.m-a {margin: auto;}
.m-t-0 {margin-top: 0;}
.m-t-0_25 {margin-top: .25em;}
.m-t-0_5 {margin-top: .5em;}
.m-t-0_75 {margin-top: .75em;}

.m-t-1 {margin-top: 1em;}
.m-t-1_25 {margin-top: 1.25em;}
.m-t-1_5 {margin-top: 1.5em;}
.m-t-1_75 {margin-top: 1.75em;}

.m-t-2 {margin-top: 2em;}
.m-t-2_25 {margin-top: 2.25em;}
.m-t-2_5 {margin-top: 2.5em;}
.m-t-2_75 {margin-top: 2.75em;}

.m-t-3 {margin-top: 3em;}
.m-t-3_25 {margin-top: 3.25em;}
.m-t-3_5 {margin-top: 3.5em;}
.m-t-3_75 {margin-top: 3.75em;}

.m-t-4 {margin-top: 4em;}
.m-t-4_25 {margin-top: 4.25em;}
.m-t-4_5 {margin-top: 4.5em;}
.m-t-4_75 {margin-top: 4.75em;}


.m-t-5 {margin-top: 5em;}
.m-t-5_25 {margin-top: 5.25em;}
.m-t-5_5 {margin-top: 5.5em;}
.m-t-5_75 {margin-top: 5.75em;}

.m-t-6 {margin-top: 6em;}
.m-t-6_25 {margin-top: 6.25em;}
.m-t-6_5 {margin-top: 6.5em;}
.m-t-6_75 {margin-top: 6.75em;}

.m-t-7 {margin-top: 7em;}
.m-t-7_25 {margin-top: 7.25em;}
.m-t-7_5 {margin-top: 7.5em;}
.m-t-7_75 {margin-top: 7.75em;}

.m-t-8 {margin-top: 8em;}
.m-t-8_25 {margin-top: 8.25em;}
.m-t-8_5 {margin-top: 8.5em;}
.m-t-8_75 {margin-top: 8.75em;}

.m-t-9 {margin-top: 9em;}
.m-t-9_25 {margin-top: 9.25em;}
.m-t-9_5 {margin-top: 9.5em;}
.m-t-9_75 {margin-top: 9.75em;}
.m-t-10 {margin-top: 10em;}

.m-b-0 {margin-bottom: 0;}
.m-b-0_25 {margin-bottom: .25em;}
.m-b-0_5 {margin-bottom: .5em;}
.m-b-0_75 {margin-bottom: .75em;}

.m-b-1 {margin-bottom: 1em;}
.m-b-1_25 {margin-bottom: 1.25em;}
.m-b-1_5 {margin-bottom: 1.5em;}
.m-b-1_75 {margin-bottom: 1.75em;}

.m-b-2 {margin-bottom: 2em;}
.m-b-2_25 {margin-bottom: 2.25em;}
.m-b-2_5 {margin-bottom: 2.5em;}
.m-b-2_75 {margin-bottom: 2.75em;}

.m-b-3 {margin-bottom: 3em;}
.m-b-3_25 {margin-bottom: 3.25em;}
.m-b-3_5 {margin-bottom: 3.5em;}
.m-b-3_75 {margin-bottom: 3.75em;}

.m-b-4 {margin-bottom: 4em;}
.m-b-4_25 {margin-bottom: 4.25em;}
.m-b-4_5 {margin-bottom: 4.5em;}
.m-b-4_75 {margin-bottom: 4.75em;}

.m-b-5 {margin-bottom: 5em;}
.m-b-5_25 {margin-bottom: 5.25em;}
.m-b-5_5 {margin-bottom: 5.5em;}
.m-b-5_75 {margin-bottom: 5.75em;}

.m-b-6 {margin-bottom: 6em;}
.m-b-6_25 {margin-bottom: 6.25em;}
.m-b-6_5 {margin-bottom: 6.5em;}
.m-b-6_75 {margin-bottom: 6.75em;}

.m-b-7 {margin-bottom: 7em;}
.m-b-7_25 {margin-bottom: 7.25em;}
.m-b-7_5 {margin-bottom: 7.5em;}
.m-b-7_75 {margin-bottom: 7.75em;}

.m-b-8 {margin-bottom: 8em;}
.m-b-8_25 {margin-bottom: 8.25em;}
.m-b-8_5 {margin-bottom: 8.5em;}
.m-b-8_75 {margin-bottom: 8.75em;}

.m-b-9 {margin-bottom: 9em;}
.m-b-9_25 {margin-bottom: 9.25em;}
.m-b-9_5 {margin-bottom: 9.5em;}
.m-b-9_75 {margin-bottom: 9.75em;}

.m-b-10 {margin-bottom: 10em;}

.m-l-0 {margin-left: 0;}
.m-l-0_25 {margin-left: .25em;}
.m-l-0_5 {margin-left: .5em;}
.m-l-0_75 {margin-left: .75em;}

.m-l-1 {margin-left: 1em;}
.m-l-1_25 {margin-left: 1.25em;}
.m-l-1_5 {margin-left: 1.5em;}
.m-l-1_75 {margin-left: 1.75em;}

.m-l-2 {margin-left: 1em;}
.m-l-2_25 {margin-left: 2.25em;}
.m-l-2_5 {margin-left: 2.5em;}
.m-l-2_75 {margin-left: 2.75em;}

.m-l-3 {margin-left: 3em;}
.m-l-3_25 {margin-left: 3.25em;}
.m-l-3_5 {margin-left: 3.5em;}
.m-l-3_75 {margin-left: 3.75em;}

.m-l-4 {margin-left: 4em;}
.m-l-4_25 {margin-left: 4.25em;}
.m-l-4_5 {margin-left: 4.5em;}
.m-l-4_75 {margin-left: 4.75em;}

.m-l-5 {margin-left: 5em;}
.m-l-5_25 {margin-left: 5.25em;}
.m-l-5_5 {margin-left: 5.5em;}
.m-l-5_75 {margin-left: 5.75em;}

.m-l-6 {margin-left: 6em;}
.m-l-6_25 {margin-left: 6.25em;}
.m-l-6_5 {margin-left: 6.5em;}
.m-l-6_75 {margin-left: 6.75em;}

.m-l-7 {margin-left: 7em;}
.m-l-7_25 {margin-left: 7.25em;}
.m-l-7_5 {margin-left: 7.5em;}
.m-l-7_75 {margin-left: 7.75em;}

.m-l-8 {margin-left: 8em;}
.m-l-8_25 {margin-left: 8.25em;}
.m-l-8_5 {margin-left: 8.5em;}
.m-l-8_75 {margin-left: 8.75em;}

.m-l-9 {margin-left: 9em;}
.m-l-9_25 {margin-left: 9.25em;}
.m-l-9_5 {margin-left: 9.5em;}
.m-l-9_75 {margin-left: 9.75em;}

.m-l-10 {margin-left: 10em;}

.m-r-0 {margin-right: 0;}
.m-r-0_25 {margin-right: .25em;}
.m-r-0_5 {margin-right: .5em;}
.m-r-0_75 {margin-right: .75em;}

.m-r-1 {margin-right: 1em;}
.m-r-1_25 {margin-right: 1.25em;}
.m-r-1_5 {margin-right: 1.5em;}
.m-r-1_75 {margin-right: 1.75em;}

.m-r-2 {margin-right: 1em;}
.m-r-2_25 {margin-right: 2.25em;}
.m-r-2_5 {margin-right: 2.5em;}
.m-r-2_75 {margin-right: 2.75em;}

.m-r-3 {margin-right: 3em;}
.m-r-3_25 {margin-right: 3.25em;}
.m-r-3_5 {margin-right: 3.5em;}
.m-r-3_75 {margin-right: 3.75em;}

.m-r-4 {margin-right: 4em;}
.m-r-4_25 {margin-right: 4.25em;}
.m-r-4_5 {margin-right: 4.5em;}
.m-r-4_75 {margin-right: 4.75em;}

.m-r-5 {margin-right: 5em;}
.m-r-5_25 {margin-right: 5.25em;}
.m-r-5_5 {margin-right: 5.5em;}
.m-r-5_75 {margin-right: 5.75em;}

.m-r-6 {margin-right: 6em;}
.m-r-6_25 {margin-right: 6.25em;}
.m-r-6_5 {margin-right: 6.5em;}
.m-r-6_75 {margin-right: 6.75em;}

.m-r-7 {margin-right: 7em;}
.m-r-7_25 {margin-right: 7.25em;}
.m-r-7_5 {margin-right: 7.5em;}
.m-r-7_75 {margin-right: 7.75em;}

.m-r-8 {margin-right: 8em;}
.m-r-8_25 {margin-right: 8.25em;}
.m-r-8_5 {margin-right: 8.5em;}
.m-r-8_75 {margin-right: 8.75em;}

.m-r-9 {margin-right: 9em;}
.m-r-9_25 {margin-right: 9.25em;}
.m-r-9_5 {margin-right: 9.5em;}
.m-r-9_75 {margin-right: 9.75em;}

.m-r-10 {margin-right: 10em;}

.m-v-0 {margin-top: 0; margin-bottom: 0;}
.m-v-0_25 {margin-top: .25em; margin-bottom: .25em;}
.m-v-0_5 {margin-top: .5em; margin-bottom: .5em;}
.m-v-0_75 {margin-top: .75em; margin-bottom: .75em;}

.m-v-1 {margin-top: 1em; margin-bottom: 1em;}
.m-v-1_25 {margin-top: 1.25em; margin-bottom: 1.25em;}
.m-v-1_5 {margin-top: 1.5em; margin-bottom: 1.5em;}
.m-v-1_75 {margin-top: 1.75em; margin-bottom: 1.75em;}

.m-v-2 {margin-top: 2em; margin-bottom: 2em;}
.m-v-2_25 {margin-top: 2.25em; margin-bottom: 2.25em;}
.m-v-2_5 {margin-top: 2.5em; margin-bottom: 2.5em;}
.m-v-2_75 {margin-top: 2.75em; margin-bottom: 2.75em;}

.m-v-3 {margin-top: 3em; margin-bottom: 3em;}
.m-v-3_25 {margin-top: 3.25em; margin-bottom: 3.25em;}
.m-v-3_5 {margin-top: 3.5em; margin-bottom: 3.5em;}
.m-v-3_75 {margin-top: 3.75em; margin-bottom: 3.75em;}

.m-v-4 {margin-top: 4em; margin-bottom: 4em;}
.m-v-4_25 {margin-top: 4.25em; margin-bottom: 4.25em;}
.m-v-4_5 {margin-top: 4.5em; margin-bottom: 4.5em;}
.m-v-4_75 {margin-top: 4.75em; margin-bottom: 4.75em;}

.m-v-5 {margin-top: 5em; margin-bottom: 5em;}
.m-v-5_25 {margin-top: 5.25em; margin-bottom: 5.25em;}
.m-v-5_5 {margin-top: 5.5em; margin-bottom: 5.5em;}
.m-v-5_75 {margin-top: 5.75em; margin-bottom: 5.75em;}

.m-v-6 {margin-top: 6em; margin-bottom: 6em;}
.m-v-6_25 {margin-top: 6.25em; margin-bottom: 6.25em;}
.m-v-6_5 {margin-top: 6.5em; margin-bottom: 6.5em;}
.m-v-6_75 {margin-top: 6.75em; margin-bottom: 6.75em;}

.m-v-7 {margin-top: 7em; margin-bottom: 7em;}
.m-v-7_25 {margin-top: 7.25em; margin-bottom: 7.25em;}
.m-v-7_5 {margin-top: 7.5em; margin-bottom: 7.5em;}
.m-v-7_75 {margin-top: 7.75em; margin-bottom: 7.75em;}

.m-v-8 {margin-top: 8em; margin-bottom: 8em;}
.m-v-8_25 {margin-top: 8.25em; margin-bottom: 8.25em;}
.m-v-8_5 {margin-top: 8.5em; margin-bottom: 8.5em;}
.m-v-8_75 {margin-top: 8.75em; margin-bottom: 8.75em;}

.m-v-9 {margin-top: 9em; margin-bottom: 9em;}
.m-v-9_25 {margin-top: 9.25em; margin-bottom: 9.25em;}
.m-v-9_5 {margin-top: 9.5em; margin-bottom: 9.5em;}
.m-v-9_75 {margin-top: 9.75em; margin-bottom: 9.75em;}

.m-v-10 {margin-top: 10em; margin-bottom: 10em;}

.m-h-0 {margin-left: 0; margin-right: 0;}
.m-h-0_25 {margin-left: .25em; margin-right: .25em;}
.m-h-0_5 {margin-left: .5em; margin-right: .5em;}
.m-h-0_75 {margin-left: .75em; margin-right: .75em;}

.m-h-1 {margin-left: 1em; margin-right: 1em;}
.m-h-1_25 {margin-left: 1.25em; margin-right: 1.25em;}
.m-h-1_5 {margin-left: 1.5em; margin-right: 1.5em;}
.m-h-1_75 {margin-left: 1.75em; margin-right: 1.75em;}

.m-h-2 {margin-left: 1em; margin-right: 1em;}
.m-h-2_25 {margin-left: 2.25em; margin-right: 2.25em;}
.m-h-2_5 {margin-left: 2.5em; margin-right: 2.5em;}
.m-h-2_75 {margin-left: 2.75em; margin-right: 2.75em;}

.m-h-3 {margin-left: 3em; margin-right: 3em;}
.m-h-3_25 {margin-left: 3.25em; margin-right: 3.25em;}
.m-h-3_5 {margin-left: 3.5em; margin-right: 3.5em;}
.m-h-3_75 {margin-left: 3.75em; margin-right: 3.75em;}

.m-h-4 {margin-left: 4em; margin-right: 4em;}
.m-h-4_25 {margin-left: 4.25em; margin-right: 4.25em;}
.m-h-4_5 {margin-left: 4.5em; margin-right: 4.5em;}
.m-h-4_75 {margin-left: 4.75em; margin-right: 4.75em;}

.m-h-5 {margin-left: 5em; margin-right: 5em;}
.m-h-5_25 {margin-left: 5.25em; margin-right: 5.25em;}
.m-h-5_5 {margin-left: 5.5em; margin-right: 5.5em;}
.m-h-5_75 {margin-left: 5.75em; margin-right: 5.75em;}

.m-h-6 {margin-left: 6em; margin-right: 6em;}
.m-h-6_25 {margin-left: 6.25em; margin-right: 6.25em;}
.m-h-6_5 {margin-left: 6.5em; margin-right: 6.5em;}
.m-h-6_75 {margin-left: 6.75em; margin-right: 6.75em;}

.m-h-7 {margin-left: 7em; margin-right: 7em;}
.m-h-7_25 {margin-left: 7.25em; margin-right: 7.25em;}
.m-h-7_5 {margin-left: 7.5em; margin-right: 7.5em;}
.m-h-7_75 {margin-left: 7.75em; margin-right: 7.75em;}

.m-h-8 {margin-left: 8em; margin-right: 8em;}
.m-h-8_25 {margin-left: 8.25em; margin-right: 8.25em;}
.m-h-8_5 {margin-left: 8.5em; margin-right: 8.5em;}
.m-h-8_75 {margin-left: 8.75em; margin-right: 8.75em;}

.m-h-9 {margin-left: 9em; margin-right: 9em;}
.m-h-9_25 {margin-left: 9.25em; margin-right: 9.25em;}
.m-h-9_5 {margin-left: 9.5em; margin-right: 9.5em;}
.m-h-9_75 {margin-left: 9.75em; margin-right: 9.75em;}

.m-h-10 {margin-left: 10em; margin-right: 10em;}

.width {
    &--100 {
        @include spring(100%);
    }
}

%global-container-base {
  @include spring(140rem);
  margin: auto;
  @include media("<=1800px") {
    @include spring(100%);
    padding-left: $global-container-desktop-horizontal-padding;
    padding-right: $global-container-desktop-horizontal-padding;
  }
  @include media("<=1250px") {
    padding-left: $global-container-medium-horizontal-padding;
    padding-right: $global-container-medium-horizontal-padding;
  }
  @include media('<=tablet') {
    padding-left: $global-container-mobile-horizontal-padding;
    padding-right: $global-container-mobile-horizontal-padding;
  }
}
