.direct-referral-tag {
  border: 1px solid $lighter-blue;
  border-radius: 0.9em;
  height: 1.8em; 
  line-height: 1.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: $lighter-blue;
  font-weight: 700;
  display:inline-block;
}